@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #c1c9d4;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0aab5;
}

/* Delay utility since arbitrary animation delays can sometimes be easier this way */
.delay-1000 {
  animation-delay: 1s;
}
